body {
    background-color: #114c6e
}

#content {
    width: 1px;
    height: 600px;
    margin: auto;
}

.coin {
    width: 128px;
    height: 128px;
    margin-left: -64px;
    position: relative;
    top: 500px;
    /*perspective: 500px;*/
}

.coin .image {
    background-image: url(./coin.png);
    width: 128px;
    height: 128px;
}

.throw {
    animation: throw 3s;
}

@keyframes throw {
    from{top: 250px;}
    50%{top: 0px;}
    to{top: 0px;}
}

.flip {
    animation: flip 3s;
}
@keyframes flip {
    from{transform: rotateX(0turn);}
    to{transform: rotateX(20turn);}
}