body {
    background-color: #193e6e;
}

#map {
    width: 500px;
    height: 500px;
    border: 5px solid #3f5d88;
}

#map div {
    width: 48px;
    height: 48px;
    border: 1px solid #546783;
    float: left;
}

#map .pacman {
    background-image: url(./img/Chain-Chomp-icon.png);
}

#map .pacman.exploding {
    background-image: url(./img/giphy.gif), url(./img/Chain-Chomp-icon.png);
    background-size: contain, contain;
}

#map .pacman.aura {
    background-image: url(./img/7SmG.gif), url(./img/Chain-Chomp-icon.png);
    background-size: contain, contain;
}

#map .cherry{
    background-image: url(./img/Cherry-icon.png);
}

#map .bomb {
    background-image: url(./img/12158-bomb-icon.png);
}

.right {
    transform: rotate(0);
}

.down {
    transform: rotate(90deg);
}

.left {
    transform: rotate(180deg); 
    transform: scaleX(-1); 
}

.up {
    transform: rotate(270deg);
}

#status {
    display: block;
    width: 40px;
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: #d0d9e7;
    color: #07172c;
    font-size: 22px;
    font-weight: bold;
}

h2 {
    margin-left: 20px;
    margin-top: 30px;
    color: #d0d9e7;
}