body {
    background-image: url(./winter.jpg);
    overflow: hidden;
}

.flake {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    animation: fall 3s linear;
    animation-fill-mode: forwards;
}

.flake.sm {
    transform: scale(0.3);
    animation-duration: 5s;
}

.flake.md  {
    transform: scale(0.6);
    animation-duration: 4s;
}

.flake.lg {
    transform: scale(1.0)
}

@keyframes fall {
    from {top: -1%}
    to{top: 101%}
}